<template>
    <div>
        <blog-create-edit :blog="blog" @create-edit='createEdit'></blog-create-edit>
    </div>
</template>

<script>
import BlogCreateEdit from '../../../components/blog/BlogCreateEdit.vue'
import {BASE_API} from '~/asset/constants/constant.js'

export default {
    components: { BlogCreateEdit },
    data() {
        return {
            blog: {}
        }
    },
    computed: {
        BASE_API() {
            return BASE_API
        }
    },
    created() {
        let id = this.$router.history.current.params.id
        this.$axios.$get(`${this.BASE_API}/programs/${id}`)
            .then(response =>{
                this.blog = response
                // alert("sadasd")
            }).catch(e => { alert ("loi") })
    },
    methods: {
        createEdit(value) {
            if (value) {
                let id = this.$router.history.current.params.id
                let model = {
                    title: value.title,
                    desc: value.desc,
                    detail: value.detail,
                    category_id: value.category_id,
                    position_id: value.position_id.join(','),
                    public: value.public,
                    image: value.image
                }
                this.$axios.$put(`${this.BASE_API}/programs/${id}`, model)
                .then (() => {
                    this.$router.push('/blog')
                })
            }
        },
    },
    mounted() {
    }
}
</script>
