<template>
    <div class="text-center p-3 footer">
        Copyright 2022 : 
        <a href="#">Devfast</a>
    </div>
</template>

<style>
.footer{
  background-color: black;
  width: 100%;
  height: 60px;
  font-size: 16px;
  color: aliceblue;
}
.footer a{
  color: gray;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 16px;
}
</style>