<template>
  <div class="content">
    <h2>New Blog</h2>
    <div class="form-create">
      <form enctype="multipart/form-data">
        <div class="form-group">
          <label for="title"> Tiêu đề: </label>
          <input
            type="text"
            name="title"
            id="title"
            class="form-control"
            v-model="innerBlog.title"
            >
        </div>

        <div class="">
          <label for="desc"> Mô tả ngắn: </label>
          <textarea
            class="form-control"
            name="des"
            id="desc"
            cols="30"
            rows="5"
            v-model="innerBlog.desc"
          ></textarea>
        </div>

        <div class="">
          <label for="detail"> Chi tiết: </label>
          <textarea
            class="form-control"
            name="detail"
            id="detail"
            cols="30"
            rows="10"
            v-model="innerBlog.detail"
          ></textarea>
        </div>

        <div class="">
          <label for="file">Hình ảnh:</label>
          <input
            id="files"
            class="form-control"
            type="file"
            ref="file"
            @change="uploadFile"
          />
        </div>

        <div class="">
          <label style="display: flex" for=""> Vị trí: </label>
          <div
            v-for="position in positions"
            :key="position.id"
            class="form-check form-check-inline"
          >
            <input
              type="checkbox"
              v-model="innerBlog.position_id"
              :value="position.id"
              class="form-check-input"
              :id="position.id"
            />
            <label :for="position.id">{{ position.name }}</label>
          </div>
        </div>

        <div class="">
          <label style="display: flex" for="">Public:</label>
          <input type="radio" v-model="innerBlog.public" value="1" id="yes" />
          <label for="yes">Yes</label>
          <input type="radio" v-model="innerBlog.public" value="0" id="no" />
          <label for="no">No</label>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label for="">Loại:</label>
            <select
              v-model="innerBlog.category_id"
              class="form-select form-control"
              aria-label="Default select example"
            >
              <option
                v-for="category in categories"
                :key="category.id"
                :value="category.id"
              >
                {{ category.name }}
              </option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="">Date Public:</label>
            <input
              v-model="innerBlog.created_at"
              class="form-control"
              type="date"
            />
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-success" @click="CreateEdit()">
            Submit
          </button>
          <button type="button" class="btn btn-primary" @click="clearBlog">
            Clear
          </button>
        </div>
      </form>
      {{ blog }}
    </div>
  </div>
</template>

<script>
import { BASE_API } from "~/asset/constants/constant.js";


export default {
  props: {
    blog: {},
  },
  data() {
    return {
      categories: [],
      positions: [],
    };
  },
  computed: {
    BASE_API() {
      return BASE_API;
    },
    innerBlog: {
      get() {
        return this.$props.blog;
      },
      set(value) {
        this.$props.blog = value;
      },
    },
  },
  created() {
    this.$axios.$get(`${this.BASE_API}/categories`).then((response) => {
      this.categories = response;
    });
    this.$axios.$get(`${this.BASE_API}/positions`).then((response) => {
      this.positions = response;
    });
  },
  methods: {
    uploadFile() {
      this.blog.image = this.$refs.file.files[0];
    },
    CreateEdit() {
      this.$emit("create-edit", this.blog);
    },
    clearBlog() {
      this.blog = {};
    },
    formatDate(date) {
      const options = { year: "numeric", month: "numeric", day: "numeric" };
      return new Date(date).toLocaleDateString("en-GB", options);
    },
  },
  mounted() {},
};
</script>

<style>
.form-create {
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
.text-center {
  padding: 20px 0;
}
</style>