<template>
  <div class="list-post-blog">
    <div class="table-responsive table-list">
      <div class="card-header title">List Blog</div>
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>Id</th>
            <th>Tin</th>
            <th>Loại</th>
            <th>Trạng thái</th>
            <th>Vị trí</th>
            <th>Ngày Public</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="blog in blogs" v-bind:key="blog.id">
            <td class="text-left">{{ blog.id }}</td>
            <td class="text-left">{{ blog.title }}</td>
            <td class="text-left">
              {{ convertCategoryName(blog.category_id) }}
            </td>
            <td>{{ blog.public == 1 ? "Public" : "Hidden" }}</td>
            <td>{{ convertPositionName(blog.position_id) }}</td>
            <td>{{ formatDate(blog.created_at) }}</td>
            <td>
              <nuxt-link :to="'/blog/edit/' + blog.id">
                <button type="button" class="btn btn-outline-primary">
                  Edit
                </button>
              </nuxt-link>
            </td>
            <td>
              <button
                type="submit"
                class="btn btn-outline-danger"
                onclick="return confirm('Are you sure you want to delete this blog')"
                @click="DeleteBlog(blog.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { BASE_API } from "~/asset/constants/constant.js";

export default {
  props: {
    categories: {
      type: Array,
      default: () => [],
    },
    positions: {
      type: Array,
      default: () => [],
    },
    blogs: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      blogs: [],
    };
  },
  computed: {
    BASE_API() {
      return BASE_API;
    },
  },
  created() {
    this.$axios
      .$get(`${this.BASE_API}/programs`)
      .then((response) => {
        this.blogs = response;
      })
      .catch((e) => {
        this.errors.push(e);
      });
  },
  methods: {
    DeleteBlog(id) {
      this.$axios
        .$delete(`${this.BASE_API}/programs/${id}`)
        .then((response) => {
          window.location.reload();
        });
    },
    convertCategoryName(categoryId) {
      const category = this.categories.find((cate) => cate.id == categoryId);
      return category.name;
    },
    convertPositionName(positions) {
      const positionArray = [];
      this.positions.map((listPosition) => {
        positions.map((position) => {
          if (position.trim() == listPosition.id) {
            positionArray.push(listPosition.name);
          }
        });
      });
      return positionArray.join(", ");
    },
    formatDate(date) {
      const options = { year: "numeric", month: "long", day: "numeric" };
      return new Date(date).toLocaleDateString("GB", options);
    },
  },
  mounted() {},
};
</script>

<style>
.table-list {
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
}
</style>