<template>
    <client-only>
        <div>
            <app-header></app-header>
            <div class="row m-0 p-0">
                <div class="col-md-2 m-0 p-0 menu">
                    <app-menu></app-menu>
                </div>
                    <div class="col-md-10 body">
                        <Nuxt />
                    </div>
            </div>
            <app-footer></app-footer>
        </div>
    </client-only>
</template>

<script>
import AppFooter from '../components/AppFooter.vue'
import AppHeader from '../components/AppHeader.vue'
import AppMenu from '../components/AppMenu.vue'
export default {
    components: { AppHeader, AppMenu, AppFooter },

}
</script>

<style>
    .row{
        background-color: lightgrey;
    }
    .menu{
        background-color: #fff;
    }
</style>

