<template>
    <div>
      <blog-list :categories="categories" :positions="positions"></blog-list>
    </div>
</template>

<script>
import BlogList from '../../components/blog/BlogList.vue'
import {BASE_API} from '~/asset/constants/constant.js'

export default {
  components: { BlogList },
  data(){
    return {
      categories: [],
      positions: []
    }
  },
  computed: {
    BASE_API() {
            return BASE_API
        }
  },
  created() {
    this.$axios.$get(`${this.BASE_API}/categories`)
      .then(response =>{this.categories = response})
        
    this.$axios.$get(`${this.BASE_API}/positions`)
      .then(response =>{this.positions = response})
  }
}
</script>
