<template>
    <blog-create-edit :blog="blog" @create-edit='createEdit'></blog-create-edit>
</template>

<script>
import BlogCreateEdit from '../../components/blog/BlogCreateEdit.vue'
import {BASE_API} from '~/asset/constants/constant.js'

export default {
    components: { BlogCreateEdit },
    data() {
        return {
            blog: {
                position_id: []
            }
        }
    },
    computed: {
        BASE_API() {
            return BASE_API
        }
    },
    methods: {
        createEdit(value) {
            if (value) {
                let model = {
                    title: value.title,
                    desc: value.desc,
                    detail: value.detail,
                    category_id: value.category_id,
                    position_id: value.position_id.join(','),
                    public: value.public,
                    image: value.image
                }
                this.$axios.$post(`${this.BASE_API}/programs`, model)
                .then (() => {
                    this.$router.push('/blog')
                })
            }
        }
    }
}
</script>

<style>

</style>