<template>
    <div>
        <blog-search-form @search-title="SearchTitle"></blog-search-form>
        <blog-list :blogs="blogs" :categories="categories" :positions="positions"></blog-list>
    </div>
</template>

<script>
import BlogList from '../../components/blog/BlogList.vue'
import BlogSearchForm from '../../components/blog/BlogSearchForm.vue'
import {BASE_API} from '~/asset/constants/constant.js'

export default {
    components: { BlogSearchForm, BlogList },
    data(){
        return {
        blogs: [],
        categories: [],
        positions: []
        }
    },
    computed: {
    BASE_API() {
            return BASE_API
        }
    },
    created() {
        this.$axios.$get(`${this.BASE_API}/categories`)
        .then(response =>{this.categories = response})
            
        this.$axios.$get(`${this.BASE_API}/positions`)
        .then(response =>{this.positions = response})
    },
    methods: {
        SearchTitle(value) {
            if (value) {
                this.$axios.$get(`${this.BASE_API}/programs/search/${value}`)
                .then(response => {
                    this.blogs = response
                })
            }
            else {
                this.$axios.$get(`${this.BASE_API}/programs`)
            .then(response => { this.blogs = response })
            .catch(e => { this.errors.push(e) })
            }
        }
    }
}
</script>

<style>

</style>